/*********
Theme CSS
*********/

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  html {
    font-size: 1.1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: -webkit-calc(1rem + 0.4 * ((100vw - 20rem) / 113));
        font-size: calc(1rem + 0.4 * ((100vw - 20rem) / 113)); }
    }
    @media screen and (min-width: 133rem) {
      html { font-size: 1.4rem; }
    }

p,
ul,
ol,
dl,
table {
  margin-top: -webkit-calc(1.33333rem + 0.5vw);
  margin-top: calc(1.33333rem + 0.5vw);
}

blockquote,
figure {
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw);
  margin-bottom: -webkit-calc(1.86667rem + 0.5vw);
  margin-bottom: calc(1.86667rem + 0.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343434;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw);
}

h1 {
  margin: 0; }
  h1 {
    font-size: 1.67583rem; }
    @media screen and (min-width: 20rem) {
      h1 {
        font-size: -webkit-calc(1.67583rem + 0.4936 * ((100vw - 20rem) / 113));
        font-size: calc(1.67583rem + 0.4936 * ((100vw - 20rem) / 113)); }
      }
    @media screen and (min-width: 133rem) {
      h1 {
        font-size: 2.16943rem; }
    }

h2 {
  font-size: 1.29454rem; }
  @media screen and (min-width: 20rem) {
    h2 {
      font-size: -webkit-calc(1.29454rem + 0.27655 * ((100vw - 20rem) / 113));
      font-size: calc(1.29454rem + 0.27655 * ((100vw - 20rem) / 113)); }
    }
  @media screen and (min-width: 133rem) {
    h2 {
      font-size: 1.57109rem; }
  }

h3 {
  font-size: 1.13778rem; }
  @media screen and (min-width: 20rem) {
    h3 {
      font-size: -webkit-calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 113));
      font-size: calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 113)); }
    }
  @media screen and (min-width: 133rem) {
    h3 { font-size: 1.38084rem; }
  }

h4 {
  font-size: 1.06667rem; }
  @media screen and (min-width: 20rem) {
    h4 {
      font-size: -webkit-calc(1.06667rem + 0.14696 * ((100vw - 20rem) / 113));
      font-size: calc(1.06667rem + 0.14696 * ((100vw - 20rem) / 113)); }
    }
  @media screen and (min-width: 133rem) {
    h4 { font-size: 1.21363rem; }
  }

h5 {
  font-size: 0.9375rem; }
  @media screen and (min-width: 20rem) {
    h5 {
      font-size: -webkit-calc(0.9375rem + 0.12917 * ((100vw - 20rem) / 113));
      font-size: calc(0.9375rem + 0.12917 * ((100vw - 20rem) / 113)); }
    }
  @media screen and (min-width: 133rem) {
    h5 { font-size: 1.06667rem; }
  }

h6 {
  font-size: 0.87891rem; }
  @media screen and (min-width: 20rem) {
    h6 {
      font-size: -webkit-calc(0.87891rem + 0.12109 * ((100vw - 20rem) / 113));
      font-size: calc(0.87891rem + 0.12109 * ((100vw - 20rem) / 113));
    }
  }
  @media screen and (min-width: 133rem) {
    h6 { font-size: 1rem; }
  }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: -webkit-calc(0.8rem + 0.25vw);
  margin-top: calc(0.8rem + 0.25vw);
}

/****************
Link Blank
*****************/
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

/****************
Menu
*****************/

@media screen and (min-width: 30em) {
  .menu {
    max-width: 66.66666vw;
    margin: 2rem auto 0 auto;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .submenu { display: none; }
}

#burgerbutton { display: none; }

@keyframes open {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

.burgerimage {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28pt;
    cursor: pointer;
    transition: transform 0.8s ease;
    color: var(--green);
}

#burgerbutton:checked~ul {
    display: block;
    animation-name: open;
    animation-duration: 0.8s;
}

#burgerbutton:checked~.burgerimage {transform: rotate(360deg);}

@media(max-width:30rem) {
  .logo { margin-top: 75px; }

  .menu {
    background-color: white;
    display: block;
    height: 65px;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .menu ul {
    display: none;
    position: fixed;
    top: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    list-style: none;
  }

  .menu ul li {
    display: block;
    width: auto;
  }

  .menu ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2rem;
    height: 50px;
    font-size: 1.6rem;
    transition: background 0.5s ease;
    box-sizing: border-box;
  }

  .menu ul li a:hover {
    background-color: black;
    color: white;
  }
}

/****************
Typo
*****************/

.letter-wide { letter-spacing: 12px; }
.letter-space { letter-spacing: 6px; }

/* Measure is limited to ~100 characters */
.measure-wide-plus { max-width: 45em; }

/* Specific width for article */
.limit-para p,
.limit-para ul,
.limit-para ol,
.limit-para h3,
.limit-para h4,
.limit-para h5,
.limit-para h6 {
  max-width: 640px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.limit-para blockquote p { margin-top: 0; }

 /* Specific width for article */
 .limit-640 {
  max-width: 640px;
  margin: 0 auto;
}

/****************
Article
*****************/

@media screen and (min-width: 30em) {
 .flex-basis-33-ns { flex-basis: 33.33%; }

 .flex-basis-66-ns { flex-basis: 66.66%; }

 .article:hover { border: 1px solid black; }

 .article:hover h2,
 .article:hover h3 {
  text-decoration: underline;
 }
}

blockquote {
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw);
  margin-bottom: -webkit-calc(1.86667rem + 0.5vw);
  margin-bottom: calc(1.86667rem + 0.5vw);
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.6rem;
  font-weight: 700;
}

blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p { margin-top: 0; }

.no-margin p { margin-top: 0; }

/****************
Theme
*****************/

.border-light-bt {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.border-light-t { border-top: 1px solid black; }

.border-light-b { border-bottom: 1px solid black; }

.border-large { border: 1px solid black; }

.border-large-t { border-top: 10px solid black; }

.border-large-b { border-bottom: 10px solid black; }

@media screen and (min-width: 30em) {
  .maxw66 { max-width: 66.66666vw; }
}
